html {
  padding: 0;
  margin: 0;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.searchInput {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    &:focus {
        border: 3px solid skyblue;
    }
}

.Main_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: black 2px solid;
    gap: 20px;
  }

  .bookHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 350px;
    border: 2px dotted white;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
        border: solid 2px skyblue;
    }
  }

  .bookImg {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 100%;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

  }

  .bookTitle {  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 150px;
    width: 100%;
    border-top: skyblue dotted 3px;
    gap: 6px;
    overflow-x: hidden;
  }

  .bookTitle::-webkit-scrollbar {
    display: none;
  }

  .bookTitle h1{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
.bookTitle h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}


  button {
    background-color: skyblue;
    font-size: 1rem;
    padding: 10px;
    border-radius: 1rem;
  }
  
  input {
    font-size: 1rem;
  }

.upload_label {
  display: flex;
  align-items: center;
  background-color: skyblue;
  color:  black;
  font-weight: bold;
  padding: 6px;
  border-radius: 1rem;
}

.pagination {
  width: 100%;
  border-top: skyblue solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}