.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.searchInput {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    &:focus {
        border: 3px solid skyblue;
    }
}

.Main_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: black 2px solid;
    gap: 20px;
    padding: 20px;
  }

  .bookHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 300px;
    border: 2px dotted white;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
        border: solid 2px skyblue;
    }
  }

  .bookImg {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 100%;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

  }

  .bookTitle {  
    padding: 10px;
    height: 60px;
    font-size: 20px;
  }


  button {
    background-color: skyblue;
    font-size: 1rem;
  }
  
  input {
    font-size: 1rem;
  }


  .p-4 {
    display: flex;
  }